# Excluded folders
/docs/
/app/
/ref/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# Claude
.claude/
.mcp.json

# Memo
memo.txt

# Template
/template/
